.ytplayer, .youtube-player {
  padding: 0; 
   margin-bottom: -6px; 
}
.ytplayer  {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.ytplayer iframe,
.ytplayer object,
.ytplayer embed {
  position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
  height: 100%; 
}
.wrapper-with-intrinsic-ratio, .sc {
  position: relative;
  padding-bottom: 33.3%;
  height: 0;
}
.youtube-player, .soundcloud {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


}
.text-padding {
  padding: 40px;
}
.black {
  background: #000;
  color: #fff;
}
.lightgray {
  background: #f2f2f1;
  color: #fff;
}
.black h1 {
  color: #fff;
  padding-bottom: 10px;
}
.white h1 {
  padding-bottom: 10px;
}
.gray {
  background: #171717;
  color: #fff;
}
.white input {
  /* color: #d3d3d3; */
  /* background: transparent; */
  /* background-color: transparent; */
}
.white .btn-default {
  border: 2px solid #000;
  color: #000;
}
.btn-hover {
  color:#000;
  border: 2px solid rgb(192, 192, 192);
}
.btn-hover:hover {
  color:#fff;
  background: transparent;
  border: 2px solid rgb(192, 192, 192);
}
.white  .btn-hover, .white .btn-default:hover  {
  color:#fff;
  background: #000;
  border: 2px solid #000;
}
.white  .btn-hover:hover{
  color:#000;
  background: transparent;
  border: 2px solid #000;
}
.itunes_buy {
    position: absolute;
    bottom: 0px;; /* FF3.6+ */  
    padding-bottom: 20px;
    padding-top: 63px;
    padding-left: 12px; 
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 32%, rgba(0,0,0,1) 76%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(32%,rgba(0,0,0,0.7)), color-stop(76%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 32%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 32%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 32%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 32%,rgba(0,0,0,1) 76%,rgba(0,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}
.itunes_title {
  position: absolute;
top: 10px;
color: #fff;
text-transform: uppercase;
text-align: center;
width: 100%;
  text-shadow: 2px 3px 6px rgba(0,0,0,0.6);
}
.forms {
    /* background: linear-gradient(to left, #fff 50%, #171717 50%); */
  
}
.form, form {
  padding: 20px;
}
.form .btn  {
  margin-bottom: 20px;
}


/* custom checkbox */
.cbox input[type="checkbox"],.rbox input[type="radio"], .cboxb input[type="checkbox"],.rboxb input[type="radio"] {
    display:none;
    
}
.cbox input[type="checkbox"] + label span {
    display:inline-block;
    width: 21px;
    height: 21px;
    vertical-align:middle;
    background:url(../images/ui-basev2-code_03.jpg) no-repeat;
    cursor:pointer;
}
.cbox input[type="checkbox"]:checked + label span {
    background: url(../images/ui-basev2-code_03.jpg) no-repeat;
    background-position: 0px -33px;
}
.cbox input[type="checkbox"]:disabled:checked + label span {
    background: url(../images/ui-basev2-code_03.jpg) no-repeat;
    background-position: 0px -100px;
}
.rbox input[type="radio"] + label span {
    display:inline-block;
    width: 21px;
    height: 21px;
    vertical-align:middle;
    background:url(../images/ui-basev2-code_05.jpg) no-repeat;
    cursor:pointer;
}
.rbox input[type="radio"]:checked + label span {
    background: url(../images/ui-basev2-code_05.jpg) no-repeat;
    background-position: 0px -33px;
}
.rbox input[type="radio"]#r8 + label span {
    background: url(../images/ui-basev2-code_05.jpg) no-repeat;
    background-position: 0px -99px;
}
.rbox span {
  margin-right: 10px;
}

.cboxb input[type="checkbox"] + label span {
    display:inline-block;
    width: 21px;
    height: 21px;
    vertical-align:middle;
    background:url(../images/ui-basev2-codeb_03.png) no-repeat;
    cursor:pointer;
}
.cboxb input[type="checkbox"]:checked + label span {
    background: url(../images/ui-basev2-codeb_03.png) no-repeat;
    background-position: 0px -33px;
}
.cboxb input[type="checkbox"]:disabled:checked + label span {
    background: url(../images/ui-basev2-codeb_03.png) no-repeat;
    background-position: 0px -100px;
}
.rboxb input[type="radio"] + label span {
    display:inline-block;
    width: 21px;
    height: 21px;
    vertical-align:middle;
    background:url(../images/ui-basev2-code4_05.png) no-repeat;
    cursor:pointer;
}
.rboxb input[type="radio"]:checked + label span {
    background: url(../images/ui-basev2-code4_05.png) no-repeat;
    background-position: 0px -99px;
}
.rboxb input[type="radio"]#r4 + label span {
    background: url(../images/ui-basev2-code4_05.png) no-repeat;
    background-position: 0px -33px;
}
.rboxb span {
  margin-right: 10px;
}
.lightgray h2 {
  font-size: 28px;
font-weight: bold;
margin-bottom: 70px;
letter-spacing: -1px;
color: #303336;
line-height: 40px;
}
.lightgray h2 a{
  color: #303336;
border-bottom: 1px solid #cbcbcb;
text-decoration: none;
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1800px) { 
  
}